<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>  
  <!--<system.net>
    --><!--Configure fiddler local proxy--><!--
    <defaultProxy>
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>-->
</configuration>